@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Oxanium:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', cursive;
}

body {
    text-align: center;
    background: linear-gradient(to bottom, #43ed69, #fbd977);
    min-height: 100vh;
}

main {
    display: inline-block;
    margin-top: 2%;
    padding: 15px;
    position: relative;
}

.pokedex {
    width: 100%;
    max-width: 425px;
}

.poke-img {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
}

.poke-data {
    position: absolute;
    font-weight: 600;
    color: #aaaaaa;
    top: 54.5%;
    right: 27%;
    font-size: clamp(8px, 5vw, 1rem);
}

.poke-number {
    font-size: 130%;
}

.poke-name {
    color: #3a444d;
    text-transform: capitalize;
    font-size: 130%;
}

.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
}

.input-search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    background-color: #e3e3e3;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #7c8282, -5px 7px 0 #333333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 65%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: #e3e3e3;
    background-color: #333333;
    box-shadow: -0.5px 1px 0 #222222, -1.5px 2.5px 0 #000000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222222;
    font-size: 0.95rem;
}